.registration {
  background-color: $bg-color;
  margin: auto, 0;
  border-radius: 0.4rem;
  width: fit-content;
  padding: 2rem;
  color: $second-color;

  h2 {
    margin-bottom: 2rem;
  }

  .formInput {
    margin-bottom: 1.5rem;
    color: white;
  }

  form {
    padding: 2rem;
    text-align: left;
  }

  .text {
    color: white;
    display: block;
  }
}
