.tickets-container {
  background-color: $bg-color;
  color: $second-color;

  .movie-screen-seat-container {
    width: 295px;

    .movie-screen-container {
      display: flex;
      margin-bottom: 2rem;

      .movie-screen-left {
        border-top: 30px solid $default-red;
        border-left: 30px solid transparent;
        width: 0;
        height: 0;
      }
      .movie-screen-middle {
        background-color: $forth-color;
        width: 235px;
        height: 30px;
      }
      .movie-screen-right {
        border-top: 30px solid $default-red;
        border-right: 30px solid transparent;
        width: 0;
        height: 0;
      }
    }

    .seat-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 10px;
      //   width: 235px;
      margin-left: 30px;
      margin-right: 30px;

      .seat {
        width: 20px;
        height: 20px;
        background-color: $forth-color;
        border-radius: 3px;
      }
    }
  }
  .choosed-seat {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $forth-color;
    border-radius: 3px;
  }

  .booked-seat {
    background-color: $default-red;
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }

  .divider {
    background-color: $second-color;
    height: 1px;
    width: 80%;
    margin: auto;
  }
}
